package-lock.json -diff
data/icons/re.sonny.Playhouse-symbolic.svg -diff
data/icons/re.sonny.Playhouse.Devel.svg -diff
data/icons/re.sonny.Playhouse.svg -diff

# po/re.sonny.Playhouse.pot -diff
# po/*.po -diff
